### Ejercicios

In [ ]:
#Instalamos las dependencias a usar
%pip install numpy
%pip install pandas
%pip install matplotlib

In [50]:
#Importamos las dependencias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [136]:
#Leemos el archivo
train = pd.read_csv('./titles.csv')
actors = pd.read_csv('./cast.csv')
#Rellenamos los campos null
train = train.fillna('')
#actors = train.fillna('')

In [211]:
# Cuantas peliculas estan listadas por el nombre "Dracula" ?

dracula = train[train['title'] == "Dracula"]
dracula['title'].count()

6

In [224]:
# Titulos mas comunes en la historia filmografica
train['title'].value_counts().head(10)

title
Hamlet                  19
Carmen                  16
Macbeth                 15
Maya                    11
The Outsider            11
Hero                    11
Othello                 11
The Three Musketeers    11
Anna                    10
Vengeance               10
Name: count, dtype: int64

In [225]:
# Cual fue la primer pelicula hecha titulada "Romeo and Juliet" ?
train[train.title == "Romeo and Juliet"].sort_values('year').head(1)

                   title  year
124702  Romeo and Juliet  1916

In [226]:
# Listar todas las peliculas que contengan la palabra "Exorcist" 
# ordenadas de la mas vieja a la mas reciente.
exorcist = train[train['title'].str.contains('Exorcist')]
exorcist.sort_values(by='year')

                                         title  year
88003                             The Exorcist  1973
49658                  O Exorcista de Mulheres  1974
140519                Exorcist II: The Heretic  1977
220073                        Kung Fu Exorcist  1978
17375                         The Exorcist III  1990
132451                        Teenage Exorcist  1991
117797                 Exorcist: The Beginning  2004
94189        Dominion: Prequel to the Exorcist  2005
209250  Costa Chica: Confession of an Exorcist  2006
86354                      Exorcist Chronicles  2007
130686                      The Disco Exorcist  2011
57932                      Exorcist Chronicles  2013
69974                           Shark Exorcist  2015
51101                            Bad Exorcists  2015
151850                              Exorcistas  2015
60700                      Accidental Exorcist  2016
161093                       American Exorcist  2016
195615                    Diary of an Exorcist  2016
228642                  Exorcist House of Evil  2016

In [228]:
# Cuantas peliculas fueron hechas en el año 1950?
len( train[train.year == 1950] )

1081

In [229]:
# Cuantas peliculas fueron hechas en el año 1970?
len( train[train.year == 1970] )

2106

In [227]:
# Cuantas peliculas fueron hechas de 1950 a 1959
len( train[ (train.year >= 1950) & (train.year <= 1959) ] )

12606

In [230]:
# En que años alguna pelicula llamada "Batman" se presento
train[ train.title == "Batman"]

         title  year
55819   Batman  1989
111048  Batman  1943

In [231]:
# Cuantos roles o papeles hubo en la pelicula "The Godfather"
len(actors[actors.title == 'The Godfather'])

76

In [222]:
# Cuantos papeles en la pelicula "The Godfather" no estan clasificados en algun valor "n"
godfather = actors[actors['title'] == "The Godfather"]
godfather['character'][ godfather['n'].isnull()].count()

42

In [223]:
# Cuantos papeles en la pelicula "The Godfather" si estuvieron clasificados con un valor "n"
godfather1 = actors[actors['title'] == "The Godfather"]
godfather1['character'][ godfather1['n'].notnull()].count()

34

In [204]:
# Mostrar el elenco completo de la pelicula "2001: A Space Odyssey" 
# ordenado por su clasificasión "n", ignorando los papeles que 
# no se les asigno ningun valor "n"
OMovie = actors[actors['title'] == "2001: A Space Odyssey"]
OFilter = OMovie[OMovie['n'].notnull()]
OFilter.sort_values(by='n')

,title,year,name,type,character,n
602795,2001: A Space Odyssey,1968,Keir Dullea,actor,Dr. Dave Bowman,1.0
1288927,2001: A Space Odyssey,1968,Gary Lockwood,actor,Dr. Frank Poole,2.0
2113186,2001: A Space Odyssey,1968,William Sylvester,actor,Dr. Heywood R. Floyd,3.0
1823947,2001: A Space Odyssey,1968,Daniel Richter,actor,Moon-Watcher,4.0
1872093,2001: A Space Odyssey,1968,Leonard Rossiter,actor,Dr. Andrei Smyslov,5.0
3464754,2001: A Space Odyssey,1968,Margaret Tyzack,actress,Elena,6.0
151781,2001: A Space Odyssey,1968,Robert Beatty,actor,Dr. Ralph Halvorsen,7.0
2101643,2001: A Space Odyssey,1968,Sean Sullivan,actor,Dr. Bill Michaels,8.0
1775057,2001: A Space Odyssey,1968,Douglas Rain,actor,HAL 9000,9.0
1469910,2001: A Space Odyssey,1968,Frank Miller,actor,Mission Controller,10.0
2310523,2001: A Space Odyssey,1968,Bill Weston,actor,Astronaut,11.0
197975,2001: A Space Odyssey,1968,Ed Bishop,actor,Aries-1B Lunar Shuttle Captain,12.0
153470,2001: A Space Odyssey,1968,Glenn Beck,actor,Astronaut,13.0
788106,2001: A Space Odyssey,1968,Alan Gifford,actor,Poole's Father,14.0
2787922,2001: A Space Odyssey,1968,Ann Gillis,actress,Poole's Mother,15.0
2572025,2001: A Space Odyssey,1968,Edwina Carroll,actress,Aries-1B Stewardess,16.0
2529579,2001: A Space Odyssey,1968,Penny Brahms,actress,Stewardess,17.0
2690543,2001: A Space Odyssey,1968,Heather Downham,actress,Stewardess,18.0
1302983,2001: A Space Odyssey,1968,Mike Lovell,actor,Astronaut,19.0
85047,2001: A Space Odyssey,1968,John (III) Ashley,actor,Ape,20.0
161571,2001: A Space Odyssey,1968,Jimmy Bell,actor,Ape,21.0
373027,2001: A Space Odyssey,1968,David Charkham,actor,Ape,22.0
514378,2001: A Space Odyssey,1968,Simon Davis,actor,Ape,23.0
515635,2001: A Space Odyssey,1968,Jonathan Daw,actor,Ape,24.0
541763,2001: A Space Odyssey,1968,P?ter Delm?r,actor,Ape,25.0
601760,2001: A Space Odyssey,1968,Terry Duggan,actor,Ape Attacked by Leopard,26.0
702077,2001: A Space Odyssey,1968,David Fleetwood,actor,Ape,27.0
849029,2001: A Space Odyssey,1968,Danny Grover,actor,Ape,28.0
916925,2001: A Space Odyssey,1968,Brian Hawley,actor,Ape,29.0
954413,2001: A Space Odyssey,1968,David Hines,actor,Ape,30.0
1030910,2001: A Space Odyssey,1968,Tony Jackson,actor,Ape,31.0
1074233,2001: A Space Odyssey,1968,John (X) Jordan,actor,Ape,32.0
1329956,2001: A Space Odyssey,1968,Scott MacKee,actor,Ape,33.0
1361809,2001: A Space Odyssey,1968,Laurence Marchant,actor,Ape,34.0
1644362,2001: A Space Odyssey,1968,Darryl Paes,actor,Ape,35.0
1801551,2001: A Space Odyssey,1968,Joe Refalo,actor,Ape,36.0
2273687,2001: A Space Odyssey,1968,Andy Wallace,actor,Ape,37.0
2343583,2001: A Space Odyssey,1968,Bob Wilyman,actor,Ape,38.0
2359428,2001: A Space Odyssey,1968,Richard (II) Woods,actor,Ape Killed by Moon-Watcher,39.0

In [201]:
# Mostrar el elenco completo ordenado por la clasificacion "n"
# de la pelicula "Dracula" de 1958
Mdracula = actors[actors['title'] == 'Dracula']
Mdracula[Mdracula['year'] == 1958].sort_values(by='n')

,title,year,name,type,character,n
485197,Dracula,1958,Peter Cushing,actor,Doctor Van Helsing,1.0
1242307,Dracula,1958,Christopher Lee,actor,Dracula,2.0
1242308,Dracula,1958,Christopher Lee,actor,Count Dracula,2.0
822398,Dracula,1958,Michael Gough,actor,Arthur,3.0
3410427,Dracula,1958,Melissa Stribling,actress,Mina,4.0
3069196,Dracula,1958,Carol Marsh,actress,Lucy,5.0
2677557,Dracula,1958,Olga Dickie,actress,Gerda,6.0
2220986,Dracula,1958,John Van Eyssen,actor,Jonathan,7.0
2777216,Dracula,1958,Valerie Gaunt,actress,Vampire Woman,8.0
2731182,Dracula,1958,Janina Faye,actress,Tania,9.0
2444220,Dracula,1958,Barbara Archer,actress,Inga,10.0
1285506,Dracula,1958,Charles Lloyd Pack,actor,Doctor Seward,11.0
1453367,Dracula,1958,George Merritt,actor,Policeman,12.0
2357769,Dracula,1958,George Woodbridge,actor,Landlord,13.0
171732,Dracula,1958,George Benson,actor,Official,14.0
1347640,Dracula,1958,Miles Malleson,actor,Undertaker,15.0
148496,Dracula,1958,Geoffrey Bayldon,actor,Porter,16.0
423307,Dracula,1958,Paul Cole,actor,Lad,17.0
1475047,Dracula,1958,Guy Mills,actor,Coach Driver,NaN
1513434,Dracula,1958,Richard (VIII) Morgan,actor,Coach Driver's Companion,NaN
1524497,Dracula,1958,John (II) Mossman,actor,Hearse Driver,NaN

In [232]:
# Cuantos papeles fueron listados en la pelicula "The Wizard of Oz" de 1939
WMovie = actors[actors['title'] == 'The Wizard of Oz']
WMovie['year'][WMovie['year'] == 1939].count()

128

In [189]:
# Cuantos papeles de "Bruce Wayne" han sido hechos en la historia 
# de las peliculas
actors['character'][actors['character'] == "Bruce Wayne"].count()

38

In [183]:
# Cuanta gente ah hecho el papel de "Romeo"
actors['character'][actors['character'] == 'Romeo'].count()

219

In [186]:
# Cuantos papeles ah hecho "Robert De Niro" en su carrera
actors['name'][actors['name'] == 'Robert De Niro'].count()

103

In [236]:
# Listado de papeles de soporte que tuvo el actor "Charlton Heston" en
# la decada de los 50's, ordenado por año
prot = actors[actors['year'].astype('int').between(1950,1959)]
prot1 = prot[prot['name'] == 'Charlton Heston']
prot1[prot1['n'] == 2]

,title,year,name,type,character,n
944064,Julius Caesar,1950,Charlton Heston,actor,Antony,2.0
944067,Lucy Gallant,1955,Charlton Heston,actor,Casey Cole,2.0
944080,Ruby Gentry,1952,Charlton Heston,actor,Boake Tackman,2.0
944091,The Far Horizons,1955,Charlton Heston,actor,Lt. William Clark,2.0
944098,The Naked Jungle,1954,Charlton Heston,actor,Christopher Leiningen,2.0
944104,The President's Lady,1953,Charlton Heston,actor,President Andrew Jackson,2.0
944112,The Wreck of the Mary Deare,1959,Charlton Heston,actor,John Sands,2.0

In [235]:
# Listado de papeles como protagonista que tuvo el actor "Charlton Heston" en
# la decada de los 60's, ordenado por año de forma descendente
prot = actors[actors['year'].astype('int').between(1950,1959)]
prot1 = prot[prot['name'] == 'Charlton Heston']
prot1[prot1['n'] == 1]

,title,year,name,type,character,n
944045,Arrowhead,1953,Charlton Heston,actor,Ed Bannon,1.0
944046,Bad for Each Other,1953,Charlton Heston,actor,Dr. Tom Owen,1.0
944047,Ben-Hur,1959,Charlton Heston,actor,Judah Ben-Hur,1.0
944051,Dark City,1950,Charlton Heston,actor,Danny Haley,1.0
944079,Pony Express,1953,Charlton Heston,actor,Buffalo Bill Cody,1.0
944081,Secret of the Incas,1954,Charlton Heston,actor,Harry Steele,1.0
944106,The Private War of Major Benson,1955,Charlton Heston,actor,Maj. Bernard R. 'Barney' Benson,1.0
944107,The Savage,1952,Charlton Heston,actor,James 'Jim' Aherne Jr.,1.0
944108,The Savage,1952,Charlton Heston,actor,War Bonnet,1.0
944109,The Ten Commandments,1956,Charlton Heston,actor,Moses,1.0
944113,Three Violent People,1956,Charlton Heston,actor,Capt. Colt Saunders,1.0
944115,Touch of Evil,1958,Charlton Heston,actor,Mike Vargas,1.0

In [199]:
# ¿Cuantos papeles para actores hubo en la decada de los 50's?
temp = actors[actors['year'].astype('int').between(1950,1959)]
temp['type'][temp['type'] == 'actor'].count()

153998

In [196]:
# ¿Cuantos papeles para actrices hubo en la decada de los 50's ?
temp1 = actors[actors['year'].astype('int').between(1950,1959)]
temp1['type'][temp1['type'] == 'actress'].count()

56004

In [237]:
# ¿Cuantos papeles protagonicos existen desde el principio de
# la historia filmatografica hasta 1970 ?
setenta = actors[actors['n'] == 1]
setenta['year'][setenta['year'] <= 1970].count()

51531